mixin sections()
	//- Web
	section
		+b.title
			+e.icon #[i.fal.fa-globe]
			+e.text Web Development
		+b.lead
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt est dicta quidem, nihil placeat mollitia libero laudantium soluta cupiditate iste ad inventore, ipsum, modi, dolores itaque pariatur consequuntur quisquam minus. Reiciendis earum, natus iusto distinctio, neque illo nisi vel autem ratione, temporibus deserunt minima doloribus. Dicta repudiandae, quod voluptatem laudantium!
			+e('a').learn-more(data-article="0") Learn more

	//- Mobile
	section
		+b.title
			+e.icon #[i.fal.fa-mobile]
			+e.text Mobile Development
		+b.lead
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem incidunt iste molestiae quis culpa, amet voluptate autem, accusantium ipsum, beatae nam dolores aspernatur, vero. Odio aut doloremque at, perspiciatis iusto?
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, atque!
			+e('a').learn-more(data-article="1") Learn more

	//- Video
	section
		+b.title
			+e.icon #[i.fal.fa-video]
			+e.text Video Production
		+b.lead
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate asperiores quasi quis magnam laboriosam vero nihil aut tenetur libero quia iure neque vel voluptas beatae mollitia sed ullam commodi aspernatur enim, non exercitationem dolorum officia aliquam quae. Ipsum, aut, beatae.
			+e('a').learn-more(data-article="2") Learn more

	//- Gaming
	section
		+b.title
			+e.icon #[i.fal.fa-gamepad]
			+e.text Gaming / Esports
		+b.lead
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, delectus laboriosam vel repellat tenetur earum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, molestiae?
			+e('a').learn-more(data-article="3") Learn more

	//- special
	section
		+b.title
			+e.icon #[i.fal.fa-star]
			+e.text Special Projects
		+b.lead
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate asperiores quasi quis magnam laboriosam vero nihil aut tenetur libero quia iure neque vel voluptas beatae mollitia sed ullam commodi aspernatur enim, non exercitationem dolorum officia aliquam quae. Ipsum, aut, beatae.
			+e('a').learn-more(data-article="4") Learn more

	//- BTL
	section
		.close
		+b.title
			+e.icon #[i.fal.fa-hashtag]
			+e.text BTL/Promo
		+b.lead
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, delectus laboriosam vel repellat tenetur earum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, molestiae?
			+e('a').learn-more(data-article="5") Learn more

	//- Traffic
	section
		+b.title
			+e.icon #[i.fal.fa-chart-bar]
			+e.text Traffic
		+b.lead
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, delectus laboriosam vel repellat tenetur earum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, molestiae?
			+e('a').learn-more(data-article="6") Learn more
