.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  overflow: auto;
  padding: 4rem;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  opacity: 0;
  transition: opacity .2s;

  &.open {
    opacity: 1;

    .modal {
      opacity: 1;
      transform: translateY(0);
    }
  }

  +below(1024px) {
    padding: 2rem;
  }

  +below(800px) {
    padding: 0;
  }
}

.modal {
  width: 100%;
  background-color: $grey;
  color: lightness($grey, 80%);
  opacity: 0;
  transition: .5s;
  transform: translateY(100%);
  transform-origin: center;

  +below(640px) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 201;
    display: block;
    size: 2rem;
    color: lightness($grey, 40%);
    cursor: pointer;
    transition: .3s;

    &:hover {
      color: lightness($grey, 80%);
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      size: 2rem;
      content: '+';
      text-align: center;
      font-weight: 400;
      font-size: 3rem;
      line-height: 2rem;
      transform: rotate(45deg);
    }
  }
}

.modal__inner::-webkit-scrollbar {
  display: none;
}
