.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  overflow: auto;
  padding: 4rem;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  opacity: 0;
  transition: opacity .2s;

  &.open {
    opacity: 1;

    .modal {
      opacity: 1;
      transform: translateY(0);
    }
  }

  +below(1024px) {
    padding: 2rem;
  }

  +below(800px) {
    padding: 0;
  }
}

.modal {
  width: 100%;
  background-color: $grey;
  color: lightness($grey, 80%);
  opacity: 0;
  transition: .5s;
  transform: translateY(100%);
  transform-origin: center;

  +below(640px) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__close {
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 201;
    display: block;
    size: 3rem;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    background-color: rgba(0, 0, 0, .5);
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;

    &:hover {
      background-color: rgba(0, 0, 0, 8);
    }
  }
}

.modal__inner::-webkit-scrollbar {
  display: none;
}
