mixin gaming()
  +b('article').gaming
    .article-container
      +b.brand.electronic-mushroom
        +e.header
          +e.logo(style="background-image: url('assets/logos/em.png')")
          +e.meta
            +e.name Electronic Mushroom
            +e.website(href="https://electronicmushroom.com") electronicmushroom.com
            +e.since Founded on 29 April 2013
            h3 Contacts:
            +e.contacts
              +e.contacts-item
                +e.contacts-name Evgeniy Olenev
                a.phone(href="tel:+79265229115") +7 926 522-91-15
                a.mail(href="mailto:eo@electronicmushroom.com") eo@electronicmushroom.com
              +e.contacts-item
                +e.contacts-name Dmitry Volkov
                a.phone(href="tel:+79258249363") +7 925 824-93-63
                a.mail(href="mailto:dv@electronicmushroom.com") dv@electronicmushroom.com
            h3 Social:
            +e.social
              a(href="https://www.facebook.com/ElectronicMushroom/") #[i.fab.fa-facebook-square]
              a(href="https://www.youtube.com/channel/UCZL12eJOIczT4IsUGsombsw") #[i.fab.fa-youtube]
              a(href="https://twitter.com/electromushroom") #[i.fab.fa-twitter]
              a(href="https://vk.com/electronicmushroom") #[i.fab.fa-vk]
        +e.body
          h1 Кейсы
          +b.case
            +e.container
              +e.picture
                img(src="assets/cases/em/bsg.jpg" alt="Black Star Gaming")
              +e.meta
                +e.name Blackstar Gaming
                h3 Совместная разработка с Blackstar
                +e('ul').achievements
                  li Графическое оформление
                  li Видеопроизводство
                  li Концепция веб платформы
          +b.case
            +e.container
              +e.picture
                img(src="assets/cases/em/adr.jpg" alt="Adrenalin Cyber League")
                img(src="assets/cases/em/adr2.jpg" alt="Adrenalin Cyber League")
              +e.meta
                +e.name Adrenalin Cyber League
                h3 Совместная разработка с EVENT GROUP
                +e('ul').achievements
                  li Концепция сезона
                  li Турнирная платформа
                  li Графическое оформление
                  li Полный цикл видеопроизводства
                  li Прямые трансляции
                  li Финал ВДНХ
                  li Финал на Игромире 2016
