mixin web()
  +b('article').web
    .article-container
      +b.brand.zendesign
        +e.header
          +e.logo(style="background-image: url('assets/logos/zen.png')")
          +e.meta
            +e.name ZenDesign
            +e.website(href="http://zendesign.ru") zendesign.ru
            //- +e.since Founded on 29 April 2013
            h3 Contacts:
            +e.contacts
              +e.contacts-item
                a.phone(href="tel:+74951201774") +7 495 120-17-74
                a.mail(href="mailto:mail@zendesign.ru") mail@zendesign.ru
            h3 Social:
            +e.social
              a(href="https://www.behance.net/dzendesign") #[i.fab.fa-behance]
              a(href="https://dribbble.com/zendesignstudio") #[i.fab.fa-dribbble]
              a(href="https://www.facebook.com/studiozendesign/") #[i.fab.fa-facebook-square]
        +e.body
          h1 Кейсы
          +b.case
            +e.container
              +e.picture
                img(src="assets/cases/zen/bw.jpg" alt="BUwood")
                img(src="assets/cases/zen/bw2.jpg" alt="BUwood")
              +e.meta
                +e.name BUwood 2015
                +e.lead
                  p Сумки европейского люксового монобренда BUwood создаются вручную из натуральных и премиальных материалов. Каждая сумка имеет свой уникальный номер.
                  p Перед нами стояла задача разработать лаконичный адаптивный интернет-магазин в лучших европейских традициях дизайна fashion & luxury, оставаясь верными духу минимализма, чтобы сделать акцент на товаре.
                h3 Награды:
                +e('ul').achievements
                  li Best of interaction Behance Featured
                  li Золото Рейтинг Рунета
                  li Site of the day CSS Design Awards
          +b.case
            +e.container
              +e.picture
                img(src="assets/cases/zen/cfm2.jpg" alt="CatsFollowMe")
              +e.meta
                +e.name CatsFollowMe 2017
                +e.lead
                  p CatsFollowMe – дизайнерский бренд состоящий из арт футболок, атмосферных постеров и обоев для смартфона в виде коллекций проработанных до мельчайших деталей.
                  p Перед нами стояла задача разработать действительно уникальный интернет-магазин, который подчеркнет уникальность бренда и его продукцию.
                  p Основная особенность сайта в переключении тем сайта «винтаж» и «модерн», включающая в себя динамичную смену стиля продукции и анимационную перекраску самого сайта – для поддержания атмосферы выбранного стиля продукции.
